Web References/ProbationConfirmationCard_Service/ConfirmationCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/confirmationcard" targetNamespace="urn:microsoft-dynamics-schemas/page/confirmationcard" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/confirmationcard" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Appraisal_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_Confirmation" />
          <xsd:enumeration value="Probation" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="New" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="Approved" />
          <xsd:enumeration value="HR" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="HR_Confirmation_Lines">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Responbilities" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Available_Rating" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Supervisor_Rating" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_Rating" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_Confirmation_Lines_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="HR_Confirmation_Lines" type="tns:HR_Confirmation_Lines" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_Confirmation_KPI_A">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Objectives" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Behavioural_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ratings" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Score" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="KPI_Weighting" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Target_Score_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_Confirmation_KPI_A_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="HR_Confirmation_KPI_A" type="tns:HR_Confirmation_KPI_A" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_KPI_Confirmation_B">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Objectives" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Behavioural_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ratings" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Score" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="KPI_Weighting" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Target_Score_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_KPI_Confirmation_B_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="HR_KPI_Confirmation_B" type="tns:HR_KPI_Confirmation_B" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_Confirmation_KPI_C">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Objectives" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Behavioural_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ratings" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Score" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="KPI_Weighting" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Target_Score_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_Confirmation_KPI_C_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="HR_Confirmation_KPI_C" type="tns:HR_Confirmation_KPI_C" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_Confirmation_KPI_D">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Objectives" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Behavioural_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ratings" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Score" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="KPI_Weighting" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Target_Score_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HR_Confirmation_KPI_D_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="HR_Confirmation_KPI_D" type="tns:HR_Confirmation_KPI_D" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConfirmationCard">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_of_Employment" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Department" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Supervisor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Second_Line_Supervisor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Level" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appraisal_Type" type="tns:Appraisal_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_of_Review" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Score" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="KPI_Score" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Comment" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Second_Line_Supervisor_Comment" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Development_Areas" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Training_Ideas" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_Comment" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Responsibility_Center" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HR_Confirmation_Lines" type="tns:HR_Confirmation_Lines_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HR_Confirmation_KPI_A" type="tns:HR_Confirmation_KPI_A_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HR_KPI_Confirmation_B" type="tns:HR_KPI_Confirmation_B_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HR_Confirmation_KPI_C" type="tns:HR_Confirmation_KPI_C_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HR_Confirmation_KPI_D" type="tns:HR_Confirmation_KPI_D_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConfirmationCard_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ConfirmationCard" type="tns:ConfirmationCard" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ConfirmationCard_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Application_No" />
          <xsd:enumeration value="Employee_No" />
          <xsd:enumeration value="Employee_Name" />
          <xsd:enumeration value="Date_of_Employment" />
          <xsd:enumeration value="Department" />
          <xsd:enumeration value="Supervisor" />
          <xsd:enumeration value="Second_Line_Supervisor" />
          <xsd:enumeration value="Level" />
          <xsd:enumeration value="Appraisal_Type" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Date_of_Review" />
          <xsd:enumeration value="Start_Date" />
          <xsd:enumeration value="End_Date" />
          <xsd:enumeration value="Score" />
          <xsd:enumeration value="KPI_Score" />
          <xsd:enumeration value="User_ID" />
          <xsd:enumeration value="Comment" />
          <xsd:enumeration value="Second_Line_Supervisor_Comment" />
          <xsd:enumeration value="Development_Areas" />
          <xsd:enumeration value="Training_Ideas" />
          <xsd:enumeration value="Employee_Comment" />
          <xsd:enumeration value="Responsibility_Center" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ConfirmationCard_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:ConfirmationCard_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Application_No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConfirmationCard" type="tns:ConfirmationCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConfirmationCard" type="tns:ConfirmationCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:ConfirmationCard_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:ConfirmationCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard" type="tns:ConfirmationCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard" type="tns:ConfirmationCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard_List" type="tns:ConfirmationCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard_List" type="tns:ConfirmationCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard" type="tns:ConfirmationCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard" type="tns:ConfirmationCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard_List" type="tns:ConfirmationCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCard_List" type="tns:ConfirmationCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_Confirmation_KPI_A">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HR_Confirmation_KPI_A_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_Confirmation_KPI_A_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_HR_Confirmation_KPI_A_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_KPI_Confirmation_B">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HR_KPI_Confirmation_B_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_KPI_Confirmation_B_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_HR_KPI_Confirmation_B_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_Confirmation_KPI_C">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HR_Confirmation_KPI_C_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_Confirmation_KPI_C_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_HR_Confirmation_KPI_C_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_Confirmation_KPI_D">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HR_Confirmation_KPI_D_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_HR_Confirmation_KPI_D_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_HR_Confirmation_KPI_D_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_HR_Confirmation_KPI_A">
    <part name="parameters" element="tns:Delete_HR_Confirmation_KPI_A" />
  </message>
  <message name="Delete_HR_Confirmation_KPI_A_Result">
    <part name="parameters" element="tns:Delete_HR_Confirmation_KPI_A_Result" />
  </message>
  <message name="Delete_HR_KPI_Confirmation_B">
    <part name="parameters" element="tns:Delete_HR_KPI_Confirmation_B" />
  </message>
  <message name="Delete_HR_KPI_Confirmation_B_Result">
    <part name="parameters" element="tns:Delete_HR_KPI_Confirmation_B_Result" />
  </message>
  <message name="Delete_HR_Confirmation_KPI_C">
    <part name="parameters" element="tns:Delete_HR_Confirmation_KPI_C" />
  </message>
  <message name="Delete_HR_Confirmation_KPI_C_Result">
    <part name="parameters" element="tns:Delete_HR_Confirmation_KPI_C_Result" />
  </message>
  <message name="Delete_HR_Confirmation_KPI_D">
    <part name="parameters" element="tns:Delete_HR_Confirmation_KPI_D" />
  </message>
  <message name="Delete_HR_Confirmation_KPI_D_Result">
    <part name="parameters" element="tns:Delete_HR_Confirmation_KPI_D_Result" />
  </message>
  <portType name="ConfirmationCard_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_HR_Confirmation_KPI_A">
      <input name="Delete_HR_Confirmation_KPI_A" message="tns:Delete_HR_Confirmation_KPI_A" />
      <output name="Delete_HR_Confirmation_KPI_A_Result" message="tns:Delete_HR_Confirmation_KPI_A_Result" />
    </operation>
    <operation name="Delete_HR_KPI_Confirmation_B">
      <input name="Delete_HR_KPI_Confirmation_B" message="tns:Delete_HR_KPI_Confirmation_B" />
      <output name="Delete_HR_KPI_Confirmation_B_Result" message="tns:Delete_HR_KPI_Confirmation_B_Result" />
    </operation>
    <operation name="Delete_HR_Confirmation_KPI_C">
      <input name="Delete_HR_Confirmation_KPI_C" message="tns:Delete_HR_Confirmation_KPI_C" />
      <output name="Delete_HR_Confirmation_KPI_C_Result" message="tns:Delete_HR_Confirmation_KPI_C_Result" />
    </operation>
    <operation name="Delete_HR_Confirmation_KPI_D">
      <input name="Delete_HR_Confirmation_KPI_D" message="tns:Delete_HR_Confirmation_KPI_D" />
      <output name="Delete_HR_Confirmation_KPI_D_Result" message="tns:Delete_HR_Confirmation_KPI_D_Result" />
    </operation>
  </portType>
  <binding name="ConfirmationCard_Binding" type="tns:ConfirmationCard_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_HR_Confirmation_KPI_A">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Delete_HR_Confirmation_KPI_A" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_HR_Confirmation_KPI_A">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_HR_Confirmation_KPI_A_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_HR_KPI_Confirmation_B">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Delete_HR_KPI_Confirmation_B" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_HR_KPI_Confirmation_B">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_HR_KPI_Confirmation_B_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_HR_Confirmation_KPI_C">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Delete_HR_Confirmation_KPI_C" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_HR_Confirmation_KPI_C">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_HR_Confirmation_KPI_C_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_HR_Confirmation_KPI_D">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/confirmationcard:Delete_HR_Confirmation_KPI_D" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_HR_Confirmation_KPI_D">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_HR_Confirmation_KPI_D_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ConfirmationCard_Service">
    <port name="ConfirmationCard_Port" binding="tns:ConfirmationCard_Binding">
      <address location="http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ConfirmationCard" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>