Web References/LeaveApplicationList_Service/LeaveApplicationAll.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/leaveapplicationall" targetNamespace="urn:microsoft-dynamics-schemas/page/leaveapplicationall" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/leaveapplicationall" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="New" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="HOD_Approval" />
          <xsd:enumeration value="HR_Approval" />
          <xsd:enumeration value="MDApproval" />
          <xsd:enumeration value="Rejected" />
          <xsd:enumeration value="Canceled" />
          <xsd:enumeration value="Approved" />
          <xsd:enumeration value="On_leave" />
          <xsd:enumeration value="Resumed" />
          <xsd:enumeration value="Posted" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LeaveApplicationAll">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Names" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Days_Applied" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Return_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reliever_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LeaveApplicationAll_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="LeaveApplicationAll" type="tns:LeaveApplicationAll" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LeaveApplicationAll_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Application_Code" />
          <xsd:enumeration value="Employee_No" />
          <xsd:enumeration value="Names" />
          <xsd:enumeration value="Leave_Type" />
          <xsd:enumeration value="Days_Applied" />
          <xsd:enumeration value="Start_Date" />
          <xsd:enumeration value="Return_Date" />
          <xsd:enumeration value="End_Date" />
          <xsd:enumeration value="Reliever_Name" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Employee_ID" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LeaveApplicationAll_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:LeaveApplicationAll_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Application_Code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="LeaveApplicationAll" type="tns:LeaveApplicationAll" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="LeaveApplicationAll" type="tns:LeaveApplicationAll" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:LeaveApplicationAll_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:LeaveApplicationAll_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="LeaveApplicationAll" type="tns:LeaveApplicationAll" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="LeaveApplicationAll" type="tns:LeaveApplicationAll" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="LeaveApplicationAll_List" type="tns:LeaveApplicationAll_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="LeaveApplicationAll_List" type="tns:LeaveApplicationAll_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <portType name="LeaveApplicationAll_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
  </portType>
  <binding name="LeaveApplicationAll_Binding" type="tns:LeaveApplicationAll_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/leaveapplicationall:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/leaveapplicationall:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/leaveapplicationall:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/leaveapplicationall:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/leaveapplicationall:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/leaveapplicationall:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/leaveapplicationall:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="LeaveApplicationAll_Service">
    <port name="LeaveApplicationAll_Port" binding="tns:LeaveApplicationAll_Binding">
      <address location="http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LeaveApplicationAll" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>