Web References/NApprovalEntries/ApprovalEntries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/approvalentries" targetNamespace="urn:microsoft-dynamics-schemas/page/approvalentries" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/approvalentries" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Limit_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Approval_Limits" />
          <xsd:enumeration value="Credit_Limits" />
          <xsd:enumeration value="Request_Limits" />
          <xsd:enumeration value="No_Limits" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Approval_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Workflow_User_Group" />
          <xsd:enumeration value="Sales_Pers_Purchaser" />
          <xsd:enumeration value="Approver" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Document_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Blanket_Order" />
          <xsd:enumeration value="Return_Order" />
          <xsd:enumeration value="_blank_" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Created" />
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Canceled" />
          <xsd:enumeration value="Rejected" />
          <xsd:enumeration value="Approved" />
          <xsd:enumeration value="_blank_" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ApprovalEntries">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Table_ID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Limit_Type" type="tns:Limit_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approval_Type" type="tns:Approval_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Type" type="tns:Document_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecordIDText" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sequence_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sender_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salespers_Purch_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approver_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Available_Credit_Limit_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_Time_Sent_for_Approval" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Time_Modified" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Modified_By_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Comment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApprovalEntries_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ApprovalEntries" type="tns:ApprovalEntries" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ApprovalEntries_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Overdue" />
          <xsd:enumeration value="Table_ID" />
          <xsd:enumeration value="Limit_Type" />
          <xsd:enumeration value="Approval_Type" />
          <xsd:enumeration value="Document_Type" />
          <xsd:enumeration value="Document_No" />
          <xsd:enumeration value="RecordIDText" />
          <xsd:enumeration value="Details" />
          <xsd:enumeration value="Sequence_No" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Sender_ID" />
          <xsd:enumeration value="Salespers_Purch_Code" />
          <xsd:enumeration value="Approver_ID" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Amount_LCY" />
          <xsd:enumeration value="Available_Credit_Limit_LCY" />
          <xsd:enumeration value="Date_Time_Sent_for_Approval" />
          <xsd:enumeration value="Last_Date_Time_Modified" />
          <xsd:enumeration value="Last_Modified_By_User_ID" />
          <xsd:enumeration value="Comment" />
          <xsd:enumeration value="Due_Date" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ApprovalEntries_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:ApprovalEntries_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ApprovalEntries" type="tns:ApprovalEntries" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:ApprovalEntries_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:ApprovalEntries_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <portType name="ApprovalEntries_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
  </portType>
  <binding name="ApprovalEntries_Binding" type="tns:ApprovalEntries_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/approvalentries:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/approvalentries:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/approvalentries:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/approvalentries:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ApprovalEntries_Service">
    <port name="ApprovalEntries_Port" binding="tns:ApprovalEntries_Binding">
      <address location="http://20.39.44.221:19047/NILE/WS/NILE%20UNIVERSITY/Page/ApprovalEntries" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>